:root {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-hover: #334155;

  --text-main: #f1f5f9;
  --text-muted: #94a3b8;

  --primary: #3b82f6;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  margin: 0;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
